# ===== ENV =====
.env
.env.*
!.env.example

# ===== Python =====
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.egg-info/
.eggs/

*.log
local_settings.py
db.sqlite3
staticfiles/
media/

venv/
env/
.venv/

.vscode/
.idea/
*.swp

.DS_Store
Thumbs.db

node_modules/
dist/
build/

**/migrations/*.pyc
