# Python
*.pyc
*.pyo
__pycache__/
*.pyd

# Environments
env/
venv/
.venv/
ENV/

# Django
*.log
*.pot
*.pyc
*.sqlite3
db.sqlite3

# Media and static files
media/
staticfiles/

# PyCharm / VSCode
.idea/
.vscode/

# MacOS / Linux / Windows
.DS_Store
Thumbs.db

# Coverage reports
htmlcov/
.coverage

# Migrations (иногда их игнорируют, иногда нет)
*/migrations/*.py
!*/migrations/__init__.py

# Secrets
*.env
